//SASS For Home HTML
//Run SASS Watch

//VARS
$color_1: white;
$font-family_1: 'Emblema One', sans-serif;
$background-color_1: rgb(82, 82, 82);
$background-color_2: rgb(55, 55, 55);
$border-color_1: white;
$border-color_2: rgb(0, 0, 0);

//CSS
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
}
#signup {
	background-color: $background-color_2;
	width: 411.25px;
	height: 508px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3%;
	border-color: $border-color_1;
	border-style: solid;
	border-width: 3px;
	text-align: center;
	justify-content: center;
	p {
		padding: 0px 3px;
	}
}
#username {
	width: 87%;
	height: 30px;
	border-color: $border-color_2;
	border-style: solid;
	border-width: 2px;
	font-family: $font-family_1;
	padding-left: 3%;
}
#password {
	width: 87%;
	height: 30px;
	border-color: $border-color_2;
	border-style: solid;
	border-width: 2px;
	font-family: $font-family_1;
	padding-left: 3%;
	margin-top: 15px;
}
#signupButton {
	width: 87%;
	height: 30px;
	border-color: $border-color_2;
	border-style: solid;
	border-width: 2px;
	font-family: $font-family_1;
	padding-left: 3%;
	margin-top: 15px;
	cursor: pointer;
}
#signupHr {
	width: 95%;
	margin-top: 10px;
}
.login {
	color: $color_1;
}
